@if (isLoading()) {
    <p>Kargatzen...</p>
} @else {
    <div class="p-8">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Aire-estazioak</h1>

        <div class="overflow-x-auto shadow-md rounded-lg">
            <table class="w-full border-collapse bg-white">
                <thead class="bg-gray-100 border-b-2 border-gray-200">
                    <tr>
                        <th class="px-6 py-3 text-left font-semibold text-gray-700">Izena</th>
                        <th class="px-6 py-3 text-left font-semibold text-gray-700">Herria</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    @for (station of data(); track station.properties.id; let i = $index) {
                        <tr [class.bg-gray-50]="i % 2 === 1" class="hover:bg-gray-100 transition" routerLink="/stations/{{ station.properties.id }}">
                            <td class="px-6 py-4 text-gray-900">{{ station.properties.name }}</td>
                            <td class="px-6 py-4 text-gray-700">{{ station.properties.location.municipality }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}